<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
  <title>Counselling</title>

  <link rel="stylesheet" href="../dist/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../dist/modules/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="../dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">

  <link rel="stylesheet" href="../dist/css/demo.css">
  <link rel="stylesheet" href="../dist/css/style.css">
</head>

<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="ion ion-search"></i></a></li>
          </ul>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
            <i class="ion ion-android-person d-lg-none"></i>
            <div class="d-sm-none d-lg-inline-block" v-cloak>欢迎{{ loginUser.username }}</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="profile.html" class="dropdown-item has-icon">
                <i class="ion ion-android-person"></i> 修改密码
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="/home">首页</a>
          </div>
          <div class="sidebar-user">
            <div class="sidebar-user-picture" v-cloak>
              <img v-if="loginUser.img != null" alt="image" :src=" '../updateFile/img/avatar/' + loginUser.img">
              <img v-if="loginUser.img == null" alt="image" src="../dist/img/avatar/avatar-1.jpeg">
            </div>
            <div class="sidebar-user-details" v-cloak>
              <div class="user-name">{{ loginUser.realName }}</div>
              <div class="user-role">
                {{loginUser.role.roleName}}
              </div>
            </div>
          </div>
          <ul class="sidebar-menu" style="overflow: auto; height: 450px;">
            <li class="menu-header">个人中心</li>
            <li class="active">
              <a href="/self/index"><i class="ion ion-speedometer"></i><span>个人中心</span></a>
            </li>

            <li class="menu-header">咨询</li>
            <li><a href="/getAllCounsellingRecord"><i class="ion ion-ios-circle-outline"></i> 我的咨询记录</a></li>
            <li>
              <a v-if="loginUser.role.roleName != '咨询师' " href="/getNewCounsellingRecord"><i class="ion ion-ios-circle-outline"></i> 我的预约</a>
              <a v-if="loginUser.role.roleName === '咨询师' " href="/getCounselorNewCounsellingRecord"><i class="ion ion-ios-circle-outline"></i> 我的预约</a>
            </li>

            <li class="menu-header">测试</li>
            <li><a href="/getNewTestRecord"><i class="ion ion-ios-circle-outline"></i> 测试任务</a></li>
            <li><a href="/getAllTestRecord"><i class="ion ion-ios-circle-outline"></i> 我的测试记录</a></li>

            <li class="menu-header" v-if="loginUser.role.roleName === '超级管理员' ">申请</li>
            <li v-if="loginUser.role.roleName === '超级管理员' ">
              <a href="applyRecord.html"><i class="ion ion-ios-circle-outline"></i> 申请</a>
            </li>

            <li class="menu-header" v-if="loginUser.role.roleName ===  '咨询师' ">测评</li>
            <li v-if="loginUser.role.roleName === '咨询师' ">
              <a href="/self/posttask"><i class="ion ion-ios-circle-outline"></i> 发布测评任务</a>
            </li>
            <li v-if="loginUser.role.roleName ===  '咨询师' ">
              <a href="testrecord.html"><i class="ion ion-ios-circle-outline"></i> 测评管理</a>
            </li>

            <li class="menu-header" v-if="loginUser.role.roleName === '管理员' || loginUser.role.roleName ===  '咨询师'">信息管理</li>
            <li v-if="loginUser.role.roleName === '管理员' || loginUser.role.roleName ===  '咨询师'">
              <a href="exammanagement.html"><i class="ion ion-ios-circle-outline"></i> 试题管理</a>
            </li>
            <li v-if="loginUser.role.roleName === '管理员' ">
              <a href="groupmanagement.html"><i class="ion ion-ios-circle-outline"></i> 团体管理 </a>
            </li>
            <li v-if="loginUser.role.roleName === '管理员' ">
              <a href="usermanagement.html"><i class="ion ion-ios-circle-outline"></i> 用户管理 </a>
            </li>
            <li v-if="loginUser.role.roleName === '咨询师' ">
              <a href="userRecord.html"><i class="ion ion-ios-circle-outline"></i> 用户记录 </a>
            </li>

            <!--			<li>-->
            <!--			  <a href="reservation.html"><i class="ion ion-clipboard"></i><span>我的预约</span></a>-->
            <!--			</li>-->
          </ul>
        </aside>
      </div>
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>测评任务记录</div>
          </h1>
          <div class="section-body">
            <div class="row mt-4">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <div class="float-right">
                      <form method="get" action="/getAllTestRecord">
                        <div class="input-group">
                          <input type="hidden" value="hasCondition" name="condition">
                          <input type="text" class="form-control form-group" placeholder="发布日期" name="search" th:attr="value=${testSearch}">
                          <div class="input-group-btn form-group">
                            <button class="btn btn-secondary"><i class="ion ion-search"></i></button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <h4>测试记录表格</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tr>
                          <th>发布时间</th>
                          <th>分数</th>
                        </tr>
                        <tr th:each="evaluationRecord:${pageInfo.list}">
                          <td th:text="${evaluationRecord.releaseDate.substring(0, 10)}"></td>
                          <td th:text="${evaluationRecord.score}"></td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div class="card-footer text-right">
                    <nav>
                      <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="${pageInfo.pages}"></span> 页,共 <span th:text="${pageInfo.total}"></span> 条记录</p>
                    </nav>
                    <nav class="d-inline-block">
                      <ul class="pagination mb-0">
                        <li class="page-item">
                          <a class="page-link" th:href="@{/getAllTestRecord}">首页 </a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" th:href="@{/getAllTestRecord(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" th:href="@{/getAllTestRecord(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
                        </li>
                        <li class="page-item">
                          <a class="page-link" th:href="@{/getAllTestRecord(pageNum=${pageInfo.pages})}">尾页</a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
		Copyright &copy; 2020 <div class="bullet"></div> Orchid
		</div>
        <div class="footer-right"></div>
      </footer>
    </div>
  </div>

  <script src="../dist/modules/jquery.min.js"></script>
  <script src="../dist/modules/popper.js"></script>
  <script src="../dist/modules/tooltip.js"></script>
  <script src="../dist/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="../dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="../dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
  <script src="../dist/js/sa-functions.js"></script>

  <script src="../js/vue.js" type="text/javascript"></script>
  <script src="../js/axios.min.js" type="text/javascript" charset="utf-8"></script>

  <script src="../js/loginUser.js"></script>
  <script src="../dist/js/scripts.js"></script>
  <script src="../dist/js/custom.js"></script>
  <script src="../dist/js/demo.js"></script>
</body>
</html>