<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.orchid.counselling.mapper.RoleMapper">

<!--    根据角色id查询角色名-->
    <select id="selectRoleNameById" resultType="String" parameterType="int">
        SELECT role_name from role WHERE role_id = #{roleId};
    </select>

</mapper>

